#thumbnail:hover + #hovertext { transition: all 0.25s ease; opacity: 1; }

#hovertext {
    opacity: 0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    white-space: nowrap
}

.unhighlightable {
  -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

#container {
    display: grid; /* turn it into a grid*/
    grid-template-columns: auto auto auto; /* make the columns in the grid split into a 1:2:3 ratio */
    margin-left: 10%;
    margin-right: 10%;
    grid-gap: 2%;
}

.container2 {
  display: grid; /* turn it into a grid*/
  grid-template-columns: auto; /* make the columns in the grid split into a 1:2:3 ratio */
  grid-template-rows: auto;
}

.PopUp {
  display: none;
}

.Clilckable {
  cursor: "pointer",
}

.Hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.Show {
  
}

.ThumbnailContainer {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 30% 70%;
  justify-items: center;
  align-items: center;
  grid-gap: 2%;

}


.CenteredClass {
  justify-items: center;
  align-items: center;
}

.ThumbnailGridArea {
  grid-area: 1 / 1 / span 2 / span 1;
  display: inline-block;
}

.textstart {
  align-self: start;
}

.textend {

  
  align-self: end;
  
}

:root {color-scheme: light dark;}

.outlinedgradientbackgoutline {
  border-radius: 2px;

}

@media (prefers-color-scheme: dark) {
  .outlinedgradientbackgoutline {
    background-image: linear-gradient(to bottom right, rgb(51, 51, 51), rgb(107, 107, 107));
    outline: 1px solid #313131;
    padding: 1px;
    color: #ffffff;
    
  }
}

@media (prefers-color-scheme: light) {
  .outlinedgradientbackgoutline {
    background-image: linear-gradient(to bottom right, rgb(243, 243, 243), rgb(180, 180, 180));
    outline: 1px solid #e7e7e7;
    padding: 1px;
    color: #ffffff;
  }
}

.nomargin {
  margin: 0;
}




.objectfitcover {


  
}



.vjs-control-bar { font-size: 17%; border-radius: 2px;  }

.vjs-big-play-button { transform: scale(0.2);  }
/*
.vjs-mouse-display {transform: scale(0.4); font-size: 150% }
*/
.vjs-time-tooltip {transform: scale(0.4); font-size: 200%;  }



.vjs-slider {transform: scale();}

.testclass {
  height: auto;
  width: 100%;
}

.centerVertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.roundedCorner {
  border-radius: 2px;
  overflow: hidden; 
}

.thumbnailOutline {

    z-index: -1;
    margin: border; /* !importanté */
    border-radius: inherit; /* !importanté */
    
    padding: 12px;
}

@media (prefers-color-scheme: dark) {
.thumbnailOutline {
  background: linear-gradient(to bottom right, rgb(51, 51, 51), rgb(107, 107, 107));
}
}

@media (prefers-color-scheme: light) {
  .thumbnailOutline {
  background: linear-gradient(to bottom right, rgb(243, 243, 243), rgb(180, 180, 180));
}}

@media (prefers-color-scheme: dark) {
  .verticalLineColor{
    stroke:rgb(51, 51, 51);
  }}

@media (prefers-color-scheme: light) {
.verticalLineColor{
  stroke:rgb(180, 180, 180);
}}

@media (prefers-color-scheme: dark) {
  .backgroundGradient{
    background: linear-gradient(to bottom right, rgb(51, 51, 51), rgb(107, 107, 107));
    background-size: 100%;

    
  }
  }

@media (prefers-color-scheme: light) {
  .backgroundGradient{
    background: linear-gradient(to bottom right, rgb(243, 243, 243), rgb(180, 180, 180));

  }
  }


    
.popupOutline{
  fill: url(#Gradient1);
}

@media (prefers-color-scheme: dark) {
  .popupOutline {
    outline: 1px solid #313131;
    border-radius: 5px;
  }
}

@media (prefers-color-scheme: light) {
  .popupOutline {
    outline: 1px solid #e7e7e7;
    border-radius: 5px;
  }
}

@media (prefers-color-scheme: dark) {
  .popgradstop1 {
    stop-color: rgb(51, 51, 51);
  }
  .popgradstop2 {
    stop-color: rgb(107, 107, 107);
  
  }
}
@media (prefers-color-scheme: light) {
  .popgradstop1 {
    stop-color: rgb(243, 243, 243);
  }
  .popgradstop2 {
    stop-color: rgb(180, 180, 180);
  
  }
}

.outlinedgradientbackg {
  border-radius: 2px;

}

@media (prefers-color-scheme: dark) {
  .outlinedgradientbackg {
    background-image: linear-gradient(to bottom right, rgb(51, 51, 51), rgb(107, 107, 107));
    padding: 1px;
    color: #ffffff;

    
  }
}

@media (prefers-color-scheme: light) {
  .outlinedgradientbackg {
    background-image: linear-gradient(to bottom right, rgb(243, 243, 243), rgb(180, 180, 180));
    padding: 1px;
    color: #000000;
  }
}

.nobottommargin {
  margin: 0;
  margin-bottom: 0px;
}

.topbar {
  border-radius: 6px;

}

@media (prefers-color-scheme: dark) {
  .topbar {
    background-image: linear-gradient(to bottom right, rgb(51, 51, 51), rgb(107, 107, 107));
    outline: 5px solid #313131;
    padding: 5px;
    color: #ffffff;
    
  }
}

@media (prefers-color-scheme: light) {
  .topbar {
    background-image: linear-gradient(to bottom right, rgb(243, 243, 243), rgb(180, 180, 180));
    outline: 5px solid #e7e7e7;
    padding: 5px;
    color: #ffffff;
  }
}



@media (prefers-color-scheme: dark) {
  .filterinvert {
    filter: invert(1);
    
  }
}

@media (prefers-color-scheme: light) {
  .filterinvert {
    filter: invert(0);
  }
}

@media (prefers-color-scheme: dark) {
  .buttonstyle {
    background-image: linear-gradient(to bottom right, rgb(51, 51, 51), rgb(107, 107, 107));
    outline: 1px solid #313131;
    padding: 1px;
    color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  .buttonstyle {
    background-image: linear-gradient(to bottom right, rgb(243, 243, 243), rgb(180, 180, 180));
    outline: 1px solid #e7e7e7;
    padding: 1px;
    color: #ffffff;
  }
}